@use 'src/styles/vars';

.notFound {
  color: vars.$title-color;
  font-weight: $title-font-weight;
  font-family: vars.$title-font;
  font-size: 4rem;
  text-align: center;
  vertical-align: middle;
}
